[Desktop Entry]
Name=Writetype
GenericName=WriteType
Comment=A word processor to make typing easier
Comment[ru]=Текстовый процессор для облегчения печати
Exec=writetype
Icon=/usr/share/writetype/res/key120x120.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Education;
MimeType=application/x-writetype;
