Source: writetype
Section: python
Priority: extra
Maintainer: Max Shinn <max@bernsteinforpresident.com>
Build-Depends: debhelper (>= 7), python-support
Standards-Version: 3.8.4
Homepage: http://bernsteinforpresident.com/software/writetype

Package: writetype
Architecture: all
Depends: python (>= 2.5), python-support (>= 0.9.0), python-qt4, python-enchant
Recommends: espeak, festival
Description: An application designed to help students write more easily.
 WriteType is a simple word processor designed to help young students write 
 more easily and accurately.  It offers spelling suggestions as students type,
 making the process easier and less frustrating.  It also provides the ability
 to read back text through either an eSpeak or a Festival backend.  In 
 addition, there are special tools for teachers, and the entire application 
 is easily translatable.
